<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <title>{{title}}</title> 

    {{#if extraCSS}}
    <link rel="stylesheet" href="{{extraCSS}}">
    {{/if}}
</head>
<body>

    {{{body}}}   <!-- dashboard content only -->

</body>
</html>