<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css">
        {{#if extraCSS}}
            <link rel="stylesheet" href="{{extraCSS}}">
        {{/if}}
       
    </head>
    <body>
        <header>
            <h1>{{title}}</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/services">Services</a>
                <a href="/quote">Get a Quote</a>
                <a href="/admin/login">Admin Login</a>
            </nav>
        </header>
        <div class="container">
        {{{body}}}
        </div>
        <footer class="footer">
            <p>&copy; 2024 C&amp;D Cleaning Services. All rights reserved.</p>
        </footer>
        <script src="/js/quote.js"></script>
    </body>
        
</html> 
