<div class="quote-container">
    <h2>Request a Quote</h2>

    

    <form (ngSubmit)="onSubmit()" #quoteForm="ngForm">
       
            <input type="text" name="name" [(ngModel)]="newQuote.name" placeholder="name" required />
            <input type="text" name="email" [(ngModel)]="newQuote.email" placeholder="email" required />
            <input type="text" name="phone" [(ngModel)]="newQuote.phone" placeholder="phone" required />
            <input type="number" name="room" [(ngModel)]="newQuote.room" placeholder="number of rooms" required />
            <input type="number" name="bathroom" [(ngModel)]="newQuote.bathroom" placeholder="number of bathrooms" required />
            <textarea name="details" [(ngModel)]="newQuote.details" placeholder="details"></textarea>
            <button type="button" (click)="calculateRate()">Get Suggested Quote</button>
            <button type="submit" (click)="submitForFinalQuote()" [disabled]="!quoteForm.form.valid">Submit Quote Request</button>

    </form> 
    <div *ngIf="estimatedRate !== null" class="rate-display">
        <h3>Estimated Rate: ${{ estimatedRate }}</h3>
        <p>{{ infoMessage }}</p>
    </div>
    <div *ngIf="infoMessage && estimatedRate === null" class="confirmation" ><p>{{ infoMessage }}</p> </div>
</div>