body {
    background-color: #ff0008;

}
.quote-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px, solid #ccc;
    background-color: #f9f9f9;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
}
form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
button {
    background-color: #6299dd;
    border: 1px solid #000000;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
}