.admin-dashboard-title{
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
}
table {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 16px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}
thead {
    background-color: #4a90e2;
    color: white;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {
    background-color: #f8f8f8;
}

tbody tr:hover {
    background-color: #e6f7ff;
}

.delete-quote {
    background-color: #e74c3c !important;
    color: white !important;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}   
.delete-quote:hover {
    background-color: #c0392b;
}
.star {
     background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: #f1c40f; 
    width: 50px;
}
.star:hover{
    opacity: 0.7;
}
#logout-button {
    position: absolute;
    top: 80px;
    right: 20px;
    padding: 10px 15px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}