.admin-dashboard-title{
    text-align: center;
    margin-top: 30px;
    font-size: 28px;
    color: #333;
}
h3.section-title {
    background-color: #f0f4f8;
   font-size: 24px;
    margin: 30px 0 15px 20px;
    color: #333;
    padding-left: 12px;
    font-weight: 600;
}
.table-wrapper {
   max-height: 400px;
   overflow-y: auto;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
table {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 16px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}
thead {
    background-color: #4a90e2;
    color: white;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {
    background-color: #f8f8f8;
}

tbody tr:hover {
    background-color: #e6f7ff;
}

.delete-quote {
    background-color: #e74c3c !important;
    color: white !important;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}   
.delete-quote:hover {
    background-color: #c0392b;
}
.star {
     background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: #f1c40f; 
    width: 50px;
}
.star:hover{
    opacity: 0.7;
}
#logout-button {
    position: absolute;
    top: 25px;
    right: 20px;
    padding: 10px 20px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
#logout-button:hover {
    background-color: #3a78c8;
}
#update-information{
    display: block;
    margin: 20px auto 40px auto;
    padding: 12px 20px;
    background: #28a745;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.25s;

}
.message-star {
     background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: #f1c40f; 
    width: 50px;
}
.message-star:hover {
    opacity: 0.7;

}
.delete-message {
    background-color: #e74c3c !important;
    color: white !important;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
.delete-message:hover {
    background-color: #c0392b;
}

.message-table td:nth-child(3), /* Message column */
.message-table th:nth-child(3){
    width: 40%;
    white-space: normal;
}
.message-table td{
    word-wrap: break-word;
    max-width: 400px;
}

.message-table td:last-child,
.message-table th:last-child {
    width: 120px;
    text-align: center;
}
.quote-requests-table td:last-child,
.quote-requests-table th:last-child {
    width: 120px;
    text-align: center;
}